.card {
  width: 80%;
  margin: 4rem auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.card_container_info {
  background-color: antiquewhite;
  width: 90%;
  margin: 4rem auto;
  padding: 1rem;
  border-radius: 1.5rem;
}

.card_container_info_Address {
  width: 50%;
  margin: 0 auto;
  font-size: 1.5rem;
}

.card_container_info_Address p {
  display: flex;
  justify-content: center;
}

.card_container_info_status {
  width: 80%;
  margin: 0 auto;
  padding: 0.5rem;
  display: grid;
  justify-content: center;
  font-size: 1.5rem;
  gap: 1rem;
}

.card_container_info_status input {
  padding: 1rem;
  border-radius: 1.2rem;
  border: none;
  outline: none;
  background-color: var(--main-font-color);
  color: white;
  font-weight: bolder;
  box-shadow: var(--main-bg-shadow);
}

.card_container_info_balanceBtn {
  padding: 1rem;
  display: grid;
  justify-content: center;
}

.card_container_info_balanceBtn button {
  padding: 0.8rem;

  border-radius: 1rem;
  border: none;
  background-color: var(--main-font-color);
  color: white;
  font-size: 1.4rem;
  font-weight: bolder;
  box-shadow: var(--main-bg-shadow);
}
.card_container_info_balanceBtn :hover {
  background-color: var(--main-bg-color);
  transition: all 0.5s linear;
}

/* Right Side */
.card_container {
  width: 60%;
  margin: 0rem auto;
  background-color: #3d3d3d;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 1rem;
  border-radius: 2rem;
  padding: 4rem;
  padding-top: 2rem;
  box-shadow: var(--main-bg-shadow);
}

.card_container_name {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: bolder;
}

.card_container_price {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 1.5rem;
}

.card_container_input {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0.5rem;
  color: var(--main-font-color);
}

.card_container_input input {
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  width: 100%;
  outline: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: var(--main-font-color);
  box-shadow: var(--main-bg-shadow);
}

.card_container_input input::placeholder {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.card_container_buyBtn {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}

.card_container_buyBtn button {
  background-color: var(--main-font-color);
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
  width: 100%;
  padding: 1.5rem;
  border-radius: 2rem;
  border: none;
}
.card_container_inputETH {
  pointer-events: none;
}

.card_container_info_status_balance {
  pointer-events: none;
}
.card_container_buyBtn button:hover {
  cursor: pointer;
  box-shadow: var(--main-bg-shadow);
  background-color: #03001c;
  transition: all 0.4s linear;
}

@media screen and (min-device-width: 200px) and (max-device-width: 500px) {
  .card {
    width: 100%;
    margin: 0rem auto;
    padding: 1.5rem;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .card_container {
    width: 100%;
    border-radius: 2rem;
    padding: 1rem;
    padding-top: 2rem;
  }

  .card_container_price {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.5rem;
  }

  .card_container_info {
    width: 100%;
  }

  .card_container_info_Address {
    font-size: 1.28rem;
  }

  .card_container_info_status {
    font-size: 1.28rem;
  }
}

@media screen and (min-device-width: 500px) and (max-device-width: 800px) {
  .card {
    width: 80%;
    margin: 4rem auto;
    padding: 1rem;
    gap: 2rem;
    grid-template-columns: 1fr;
  }
  .card_container_price {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.5rem;
  }

  .card_container {
    width: 100%;
  }
}

@media screen and (min-device-width: 800px) and (max-device-width: 1200px) {
  .card {
    width: 70%;
    margin: 4rem auto;
    padding: 1rem;
    gap: 2rem;
  }
  .card_container {
    width: 100%;
    grid-template-columns: 1fr;
  }
}
