.navbar {
  width: 100%;
  padding-block: 1rem;
}

.navbar_container {
  width: 98%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1.4fr 0.005fr;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  box-shadow: var(--main-bg-shadow);
}

.navbar_container_left {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: flex-end;
  align-items: center;
}

.navbar_container_left_logo {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
}

.navbar_container_right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: end;
  font-size: 1.8rem;
}

.navbar_container_menuBtn {
  display: none;
}
.navbar_container_right_connectBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sideBar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #03001c;
  z-index: 11111;
  transition: all 0.9s linear;
}

@media screen and (min-device-width: 200px) and (max-device-width: 768px) {
  .navbar_container_right {
    display: none;
  }

  .navbar_container_left_logo {
    font-size: 1.4rem;
  }

  .navbar_container_menuBtn {
    display: block;
  }

  .navbar_container_menuBtn {
    font-size: 2rem;
    margin: 0 auto;
  }

  .navbar_container {
    grid-template-columns: 2fr 0.4fr;
    align-items: center;
  }
}
