@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");

:root {
  --icons-color: #ffa502;
  --main-font-color: #ffa502;
  --main-bg-color: #3f3b6c;
  --main-bg-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Tilt Warp", cursive;
  font-size: 14px;
  background-color: black;
  background-repeat: no-repeat;
  color: var(--main-font-color);
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.sideBar {
  transition: all 0.9s linear;
}
